@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>


@{
    ViewBag.Title = "Rolelist";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";

}


<div id="page-content">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-users"></i>Alle roller<br><small>En liste af alle roller</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Roller</li>
        <li>Liste af Roller</li>

    </ul>
    <div class="block block-alt-noborder">
        <a class="btn-top btn btn-primary pull-right" style="margin-right: 15px;" href="/account/CreateRole"> <span class="fa fa-plus"></span> Create New</a>
        <h3 class="sub-header">
            Roller <small>....en liste af alle roller</small>
        </h3>

        <table class="table table-striped">

            <thead>
                <tr class="row-name">
                    <th>Rollenavn</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td style="float: right">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Edit</button>
                            <span onclick="return confirm('Are you sure you want to delete this role?')">
                                <a href="@Url.Action("DeleteRole", new {id = role.Id})" type="reset" class="btn btn-sm btn-warning"><i class="fa fa-eraser"></i>Delete</a>
                            </span>
                        


                        </td>
                    </tr>
                }
                @*@foreach (var user in Model)
                    {


                        <tr>
                            <td>@user.Name</td>*@
                @*<td>



                        @foreach (var user in test.Where(a => a.Id == item.Users.UserId))
                        {
                            @user.UserName
                        }
                    </td>*@
                @*<td>
                        <a class="btn btn-danger edit" href="/admin/ProductDelete/@User.Identity" aria-label="Settings">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>

                        <a class="btn btn-info edit" href="@Url.Action("UserEdit", new {id = User.Identity})" aria-label="Settings">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>*@




                @*</tr>
                    }*@


            </tbody>
        </table>
    </div>
</div>
